/* Reset básico */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Fondo de la página */
body{
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenedor principal */
.page{
    background: white;
    padding: 40px;
    border-radius: 12px;
    width: 400px;
    text-align: center;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
}

/* Título */
h1{
    color: #2a5298;
    margin-bottom: 15px;
}

/* Texto */
p{
    color: #555;
    font-size: 18px;
}